:root {
  --fond: #1a1e23;
  --lfond: #2a3038;
  --titre: #78aaad;
  --sous-titre: #5a8788;
  --description: rgb(86, 123, 124);
  --ldescription: rgba(86, 123, 124, 0.3);
  --icon: #567b7c;
  --ficon: rgba(136, 246, 251, 0.585);
  --bulle: rgba(136, 246, 251, 0.3);
}

@font-face {
  font-family: "electronica_display_stencilRg";
  src: url("../font/electronica_display_stencil-webfont.woff2") format("woff2"),
    url("../font/electronica_display_stencil-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kionaregular";
  src: url("../font/kiona-regular-webfont.woff2") format("woff2"),
    url("../font/kiona-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "take_me_outregular";
  src: url("../font/take_me_out-webfont.woff2") format("woff2"),
    url("../font/take_me_out-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nexa-ExtraLight";
  src: url("../font/Nexa-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@500&display=swap");

::selection {
  background-color: rgba(179, 179, 204, 0.203);
  color: white;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1e23;
  border-radius: 6px;
}
