body {
  background: var(--fond);
  margin: 0;
}
.all {
  display: block;
}

/* ======= Navbar =======*/
.container {
  font-family: "kionaregular";
  max-width: 1120px;
  margin: auto;
  padding: 15px 0;
}

.header {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--fond);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
  transition: top 0.3s;
}

.header.activeMenu::before {
  top: 0;
}

.header .logo h2 {
  position: relative;
  font-weight: normal;
  font-family: "electronica_display_stencilRg";
  display: flex;
  cursor: pointer;
  color: var(--titre);
  font-size: 1.8rem;
  transition: 0.5s;
}

.header .logo h2:hover {
  color: var(--ficon);
  letter-spacing: 0.15em;
  text-shadow: 0 0 5px var(--ficon);
}

.nav__menu .nav__item {
  display: inline-block;
  margin-left: 1rem;
}

.nav__item .nav__link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: var(--ldescription);
  transition: 0.3s;
}
.nav__item .nav__link.active {
  color: var(--ficon);
}
.nav__item .nav__link:hover {
  letter-spacing: 0.15em;
  color: var(--icon);
}
.nav__item .nav__link i {
  font-size: 20px;
  color: var(--icon);
  margin-right: 0.45rem;
}
.nav__item .nav__darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
  color: rgb(148, 79, 237);
  border-radius: 0.25rem;
  font-size: 20px;
  background: transparent;
  border: none;
  transition: 0.3s;
}

.nav__humbger {
  display: none;
}

.titre {
  color: white;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.contentdesc {
  border: 2px solid white;
  border-radius: 25px;
}

.contentdesc a {
  color: #77c6cf;
  text-decoration: none;
  transition: ease-in-out 2s;
}
.contentdesc a:hover {
  color: #91f1fc;
  text-decoration: underline;
  transition: ease-in-out 2s;
}

.desc {
  color: white;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 1.5%;
  font-family: "Montserrat", sans-serif;
}

.texte {
  margin-top: 135px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.texte > div {
  max-width: 100%;
  flex: 1;
  margin: 10px;
}

.hidden_menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  z-index: 3;
  backdrop-filter: blur(10px);
  flex: 1;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
}

.hidden_menu ul {
  padding: 0;
  list-style: none;
}
.hidden_menu a {
  text-decoration: none;
}
.close_btn {
  padding: 0;
  margin-top: 30px;
  color: var(--titre);
  transition: 0.3s;
}
.close_btn:hover {
  color: var(--icon);
  transition: 0.3s;
}

@media screen and (max-width: 962px) {
  .container {
    max-width: 610px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin-left: 50px;
  }
  .nav__menu {
    display: none;
  }
  .texte {
    margin-top: 130px;
  }
  .nav__humbger {
    display: block;
    cursor: pointer;
    color: var(--ldescription);
    font-size: 24px;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .nav__menu.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 10px;
    background: var(--fond);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .nav__menu.active {
    display: block;
  }
}
